[submodule "jessfraz"]
	path = jessfraz
	url = git@github.com:aogier/jessfraz-dockerfiles.git
[submodule "cv/hooks"]
	path = cv/hooks
	url = git@github.com:aogier/dockerfiles.git
	branch = hooks
[submodule "base-notebook-plotly/hooks"]
	path = base-notebook-plotly/hooks
	url = git@github.com:aogier/dockerfiles.git
	branch = hooks
